@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

.Great-Vibes {
    font-family: Great Vibes;
}

.primary-color {
    color: #FF9F0D;
}

.btn-outline {
    background-color: #FF9F0D !important;
}

.btn-color {
    background-color: #FF9F0D !important;
}

.bg-bottom-leaf {
    rotate: -128.85 deg;
    display: flex;
    margin-top: 40%;
    margin-left: 35%;
    padding-bottom: 50%;
}

.bg-gray-color {
    background-color: #4F4F4F;
}

.social-icon:hover {
    background-color: #FF9F0D !important;
}

.greater-sign::after {
    content: ">";
    margin: 0 5px;
    color: #ffffff;
}

.bg-color {
    background-color: black;
}

.primary-color {
    color: #FF9F0D !important;
    ;
}

.nav-link:hover {
    color: #FF9F0D !important;
}

.search-bar {
    border-color: #FF9F0D !important;
    color: white;
}

.icon-link {
    text-decoration: none;
}

.icon {
    color: white;
    transition: color 0.3s;
}

.icon:hover {
    color: #FF9F0D;
}

.hero {
    margin-top: 7%;
}

.bg-img {
    margin-top: 25%;
    margin-left: 85% !important;
}
.leaf {
    width: 80%;
    height: auto;
}

.bg-leaf {
    margin-top: 10%;
    margin-left: -20%;
}
